
body {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  background-color: rgb(23, 140, 212);
  color: linen;
}

.row {
  display: flex;
}

.container {
  max-width: 800px;
  margin: auto;
}

.column-full {
  width: 100%;
}

.column-third {
  width: 100%;
}

.pictures {
  height: auto;
  width: 100%;
  padding: 25px;
}

.background {
  display: flex;
  background-color: white;
  border-radius: 50%;
  height: auto;
  width: 25%;
}

.img-center {
  width: 100%;
}

.blocks {
  justify-content: center;
  flex-direction: column;
}

h2 {
  text-align: center;
  justify-content: center;
  align-content: center;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.words {
  width: 100%;
  height: auto;
  text-align: center;
  flex-direction: column;
}
