.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: static;
}

#charmander {
  /* your code here */
  position: relative;
  top: 20px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 50px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 150px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 300px;
  left: 20px;
}
