* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-fifth {
  width: calc(100% / 5);
}

.free-people-img {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url("images/dress1.jpg");
  object-fit: contain;
}

.reformation-dress-img {
  height: auto;
  width: 100%;
  background-image: url("images/dress2.jpg");
  object-fit: contain;
}

.lv-bag-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.tiffany-key-img {
  height: auto;
  width: 100%;
  background-image: url("images/key.jpeg");
  object-fit: contain;
}

.ysl-img {
  height: auto;
  width: 100%;
}

.header-arrivals {
  justify-content: center;
  width: 100%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
}

.lgrey-font {
  color: gainsboro;
}

.free-people-section {
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.height-full {
  max-height: 100%;
}

.sizes-info {
  border-left: solid gainsboro;
  border-width: thin;
  padding-left: 5px;
}

.prices {
  background-color: #fef2e7;
}

.padding {
  padding: %;
}

.margin-left-right {
  margin-left: 5%;
  margin-right: 5%;
}

.item-price-section {
  margin-bottom: 0;
  w
}

.font {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 0.65rem;
}

.width {
  width: 100%;
}
