body {
  box-sizing: border-box;
}

.column-full {
  width: 100%;
}

.h1-box {
  letter-spacing: -2px;
  font-family: 'Arvo', serif;
  font-weight: bold;
  text-align: center;
  margin-top: 25%;
}

.span-neutral {
  border-bottom: solid black;
  padding-bottom: 5px;
}

.span-correct {
  color: #1ece22;
  padding-bottom: 5px;
  border-width: 100%;
}

.span-wrong {
  font-weight: 1000px;
  color: red;
  border-bottom: solid red;
  padding-bottom: 0;
}
